@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

body {
    background-color: #8080809f;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #003044;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    padding: 15px;
}

nav li {
    display: inline;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    transition: 1s;
}

nav a:hover {
    text-decoration: underline;
    color: #00000067;
}

main {
    display: flex;
    justify-content: center;
}

.background-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formulario fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario label {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.input-default {
    margin-right: 20px;
    padding: 8px 15px;
}

.calculate {
    width: 120px;
    padding: 8px 0px;
    color: #ffffff;
    background-color: #ffa500;
    transition: 1s;
    border-radius: 8px;
}

.calculate:hover {
    background-color: #ff6600;
    transform: scale(1.2);
    cursor: pointer;
}

.calculate:active {
    background-color: #000000cb;
    transition: none;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 30px;
}

#result h4 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

#total {
    font-size: 40px;
    font-weight: bold;
}


footer {
    background-color: #003044;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}